.item_pic{
  max-height: 300px !important;
  max-width: 80%;
  z-index: 2;
  margin: auto;
}
.item_desc{
  z-index: 1;
  background-color: white;
  width: 80%;
}

.shop_item{
  cursor:pointer;
  transition:all 0.5s ease;
  border-style:solid;
  border-width:6px;
  border-color:#f2961b;
  background-color:white;
  display: block;
  width: 80%;
  text-decoration: none;
  height: 400px;
  margin-right: 5px;
  z-index: 1;
  align-content: center;

}
.shop_item:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}
h4{
  font-size: 2em;
}


