<div class="main">
<div class="detailes cart">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{item.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img class="img-j" src="{{item.image}}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{item.description}}</p>
    </div>
  </div>
  <div>
    <div>
      <h3>{{item.price | number:'1.2-2'}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button (click)="add(item)"
          type="button" class="btn btn-primary m-1 jbtn">
          add to cart
        </button>
      </div>
    </div>
  </div>
</div>
</div>

