<h1 class="h1"> SignUp </h1>
<form>
  <div class="form-group">
    <label class="col-form-label"> Name </label>
    <input type="text" class="form-control" id="fullName" placeholder="name" #fullName>
  </div>
  <div class="form-group">
    <label class="col-form-label"> Email </label>
    <input type="text" class="form-control" id="email" placeholder="email" #email>
  </div>
  <div class="form-group">
    <label class="col-form-label">postcode</label>
    <input type="text" class="form-control" id="postcode" placeholder="postcode" #postcode>
  </div>
  <div class="form-group">
    <label class="col-form-label">streetnumber</label>
    <input type="text" class="form-control" id="streetnumber" placeholder="streetnumber" #streetnumber>
  </div>
  <div class="form-group">
    <label class="col-form-label"> password </label>
    <input type="text" class="form-control" id="password" placeholder="password" #password>
  </div>
  <div class="form-group mt-3 mb-0">
    <button class="btn btn-primary ml-5" (click)="signup()"> signup </button>
  </div>
</form>

