.main{
  height: 94vh;
  background-color: black;
}
.box{
  width: 300px;
  height: 300px;
  margin: auto;
  text-align: center;
  border-color: #f2961b;
  border-style: solid;
  background-color: white;
  align-content: center;
}
.cart{
  height: 400px;
  width: 800px;

  border-color: #f2961b;
  border-style: solid;
  margin: auto;
  text-align: center;
  align-content: center;
}
.main{
  background-color: black;
  height: 96vh;
  width: 100%;
  align-content: center;
}

