<div class="main">
  <div class="cart">
    <button class="btn btn-primary m-1 jbtn" (click)="remove()" [disabled]="!canSelect">delete</button>
    <table class="table main-background">
      <thead>
      <tr>
        <th>name</th>
        <th>price</th>
      </tr>
      </thead>
      <tbody>
      <tr   *ngFor="let item of cart  let i = index"
            (click)="selectItem(item, i)"
            [ngClass]="{selectedRow: i === selectedIndex}"  >
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.price | number:'1.2-2'}}
        </td>
      </tr>
      </tbody>
    </table>
    <a class="btn btn-primary m-1 jbtn" href="#"  routerLink="/thanks" routerLinkActive="active">afrekenen</a>
  </div>
</div>
