<nav class="jj_nav">
  <div class="container-fluid">
    <div >
      <a class="jj_nav_logo" href="#" routerLink="/home">JJ's Junk</a>
    </div>
    <div class="collapse navbar-collapse jj_nav_items">
      <ul class=" nav ">
        <a class="jj_nav-item" href="#"  routerLink="/loggingIn" routerLinkActive="active">login</a>
        <a class="jj_nav-item" href="#"  routerLink="/cart" routerLinkActive="active">cart</a>
        <a class="jj_nav-item" href="#" routerLink="/store" routerLinkActive="active">store</a>
      </ul>
    </div>
  </div>
</nav>
