.jj_nav{
  width: 100%;
  background-color: black;
}
.jj_nav_logo{
  height: 6vh;
  width: 20%;
  color: #f2961b;
  font-weight: bold;
  display: inline;
  float: left;
  text-align: center;
  background-color: black;
  font-size: 1.3em;
  text-decoration: none;
  padding-top: 20px;
}
.jj_nav_items{
  width: 80%;
  display: inline;
  float: right;
  height: 100%;
  background-color: black;
}
.jj_nav-item{
  font-size: 1.3em;
  width: 20%;
  display: inline-block;
  float: right;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  height: 6vh;
  padding-top: 20px;

}
.active {
  background-color: #f2961b;
  color: black;
}
.exit {
  font-size: 2em;
  width: 30px;
  color: #f2961b !important;
  background-color: black;
  height: 100%;
  border-style: none !important;
  border-color: black;
  border: 0;
}

