<nav class="jj_nav">
  <div class="container-fluid">
    <div >
      <a class="jj_nav_logo" href="#" routerLink="/home">JJ's Junk</a>
    </div>
    <div class="collapse navbar-collapse jj_nav_items">
      <ul class=" nav ">
        <button class="jj_nav-item exit" *ngIf="loginServiceVar.isAuthorized('Admin')" (click)="loginService.logout()">x</button>
        <a class="jj_nav-item" *ngIf="loginServiceVar.isAuthorized('Admin')" href="#" routerLink="/users" routerLinkActive="active">user</a>
        <a class="jj_nav-item" *ngIf="loginServiceVar.isAuthorized('Admin')" href="#" routerLink="/edit" routerLinkActive="active">item</a>
        <a class="jj_nav-item" *ngIf="!loginServiceVar.isAuthorized('Admin')" href="#" routerLink="/loggingIn" routerLinkActive="active">login</a>
        <a class="jj_nav-item" *ngIf="!loginServiceVar.isAuthorized('Admin')" href="#"  routerLink="/cart" routerLinkActive="active">cart</a>
        <a class="jj_nav-item"  routerLink="/store" routerLinkActive="active">store</a>

      </ul>
    </div>
  </div>
</nav>
