<div class="main">
  <form class="loginbox">
    <div class="form-group">
      <label>email:</label>
      <input class="form-control"
             type="text"
             id="email">
    </div>
    <div class="form-group">
      <label>password:</label>
      <input class="form-control"
             type="password"
             id="password">
    </div>
    <div class="text-center">
      <button class="btn btn-primary ml-5 jbtn" (click)="authenticate()">login</button>
    </div>
  </form>
</div>
