.main{
  height: 94vh;
  background-color: black;
}
.selectedRow{
  background-color: #bbbbbb !important;
}
.cart{
  height: 500px;
  width: 800px;
  background-color: white;
  border-color: #f2961b;
  border-style: solid;
  margin: auto;
  text-align: center;
  align-content: center;
}
